/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.recent-scores {
  min-width: 300px;
}

.recent-scores-header {
  display: flex;
  align-items: center;
  gap: 20px;

  h2 {
    padding: 0;
    flex-grow: 1;
  }

  button {
    padding: 7px;
  }
}

.recent-scores-list {
  list-style-type: none;
  padding: 0;
  border: 2px solid black;
  min-height: 40px;
  max-height: 390px;
  overflow-y: scroll;

  li {
    padding: 10px;
  }

  li:nth-child(even) {
    background-color: #ddd;
  }
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;

  h2 {
    text-align: center;
  }

  input {
    padding: 10px;
  }

  button {
    width: fit-content;
    align-self: center;
    padding: 10px;
  }
}

small {
  font-size: 1rem;
}

.green {
  color: green;
}

.red {
  color: red;
}
